@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 1;
    margin: 1;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #78909C;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 2rem;
}

.main .header {
    background-color: #2962FF;
    flex: 1;
    border-radius: 2rem 2rem 0 0;
}

.main .header h1, .header2 h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

.main .add {
    background-color: white;
    flex: 1;
    text-align: center;
    padding: 2rem;
}

.main .add a {
    padding: 1rem;
    border: none;
    background-color:#2962FF;
    color: white;
    text-decoration: none;
    border-radius: 2rem;
}

.main .header2 {
    background-color: #2962FF ;
    flex: 1;
}

.main .std_table {
    background-color: white;
    flex: 2;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
}

.main .std_table table {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.main .std_table table td {
    padding: .8rem;
}

.main .std_table a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    border: none;
    color: white;
    border-radius: 1rem;
}

/*  add  */

.main .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section .section-form{
    margin: 2rem 0;
    padding: 2rem;
    width: 50%;
    border: 1px solid #2962FF;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 2rem;
}

.main .section .section-form table td, input, select {
    padding: 0.5rem;
}

.main .section .section-form table input, select {
    border-color: #2962FF;
    border-radius: 1rem;
    outline: none;
}

.main .section .section-form table td button {
    background-color: #2962FF;
    border: none;
    color: white;
    padding: 0.8rem;
    border-radius: 1rem;
}

.main .section .section-form #message {
    display: block;
    background-color: #8BC34A;
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
    font-size: 0.8rem;
}